.main_admin_container {
  display: flex;
  margin: 50px auto 0;
  justify-content: center;

  .showcard_admin_row {
    margin: 10px;
    .collection-item {
      position: relative;
      width: 250px;
      border: 1px solid grey;
      margin: 0 7.5px 15px;
      overflow: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      .image {
        width: 100%;
        height: 100%;
      }

      .upload_btn {
        margin: 10px;
        display: none;
      }

      .content-text {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 35%;
        left: 20%;
        width: 60%;
        height: 35%;
        padding: 20px;
        text-align: center;
        color: white;
        font-weight: 700;
        font-size: 18px;
        background-color: rgba($color: #333, $alpha: 0.6);

        .header-text {
          color: white;
          opacity: 0.7;
          text-decoration: none;
        }
      }
    }
    .admin_input_container {
      margin: 0 10px;
    }
  }
  .admin_img_prew_container {
    margin: 0 7px;
    height: 54px;
    width: 250px;
    background: blue;
    display: flex;
    justify-content: center;

    .admin_img_prew {
      width: 50px;
      background: black;
      height: 54px;
      margin: 0 10px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}
.admin_btn_container {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  .control_btn {
    display: block;
  }
}

.admin_status_container {
  display: flex;
  margin: 10px;
  justify-content: center;
}
