.backimg {
  z-index: -1;
  position: fixed;
  top: 10;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.dimmer {
  opacity: 0.2;
  background-color: black;
  position: fixed;
  top: 10;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.text.container {
  padding-top: 50%;
  margin-left: 100px;
}
