.linier_background {
  height: 40vh;
  background: rgb(252, 246, 245);
  background: linear-gradient(
    0deg,
    rgba(252, 246, 245, 1) 0%,
    rgba(181, 210, 214, 1) 42%,
    rgba(120, 204, 219, 1) 75%,
    rgba(0, 212, 255, 1) 100%
  );
}
